.app:has(.flat-button_random:hover) .helper-text,
.app:has(.flat-button_list:hover) .helper-text,
.app:has(.flat-button_loop:hover) .helper-text, 
.app:has(.move-line_time:hover) .helper-text,
.app:has(.move-line_speed:hover) .helper-text,
.app:has(.move-line_volume:hover) .helper-text {
  opacity: 1;
} 

.helper-text {
  position: absolute;
  right: 20px;
  bottom: 15px;
  opacity: 0;
  color: var(--color-text-active);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: opacity;
}