:root {
  --app-min-width: 600px;

  --color-bg-app: #1e282c;
  --color-bg-player-panel: #222D32;
  --color-bg-player-panel-front: #29353B;
  --color-bg-controls: #273238;

  --color-control-inactive: #05aac0;
  --color-control-active: #00bcd4;
  --color-text-inactive: #d3dae3;
  --color-text-active: #eee;
  
  --box-shadow-size: 2px;
  --border-radius: 5px;

  --transition-duration: 0.2s;
  --transition-timing-function: linear;
}